
.contact-section {
    align-items: center;
    background-color: #A31D1D;
    color: #ccd6f6;
    display: flex
;
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
}
.contact-heading {
  color: #64ffda;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact-title {
  color: #e6f1ff;
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0;
}
.contact-description {
  color: #8892b0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 600px;
}
.footer {
  background-color: #A31D1D;
  color: #8892b0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
.footer-text {
  color: #8892b0;
  margin-bottom: 10px;
}
.footer-name {
  color: #64ffda;
  font-weight: 700;
}
.footer-icon-link {
  color: #64ffda;
}
.contact-button {
  border: 1px solid #64ffda;
  border-radius: 5px;
  color: #64ffda;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 30px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.contact-button:hover {
  background-color: #64ffda1a;
  color: #64ffda;
  transform: translateY(-3px);
}
