<section id="contact" class="contact-section">
  <h2 class="contact-heading">What’s Next?</h2>
  <h3 class="contact-title">Get In Touch</h3>
  <p class="contact-description">
    I am actively looking for new opportunities, and my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
  </p>
  <a href="mailto:hsaidh123@gmail.com" class="contact-button">Say Hello</a>
</section>

<footer class="footer">
  <p class="footer-text">
    Designed & Built by <span class="footer-name">Hassan Saied</span>
  </p>
  <div class="footer-icons ">
    <a href="https://github.com/hassansaiedhassan" target="_blank" rel="noopener noreferrer" class="footer-icon-link">
      <i class="fa-brands fa-github fa-2xl bg-icons"></i>
    </a>
    <a href="https://www.linkedin.com/in/hassan-saied-62b1041aa/" target="_blank" rel="noopener noreferrer" class="footer-icon-link m-3">
      <i class="fa-brands fa-linkedin fa-2xl bg-icons"></i>
    </a>
    <a href="mailto:hsaidh123@gmail.com" class="footer-icon-link">
      <i class="fa-solid fa-envelope fa-2xl bg-icons"></i>
    </a>
  </div>
</footer>
