.about {
  background: #FEF9E1;
  padding: 20px;
  text-align: center;
  overflow: hidden; 
}

.about-title {
  color: #ff305b;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-description {
  color: #333;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  max-width: 100%;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: block;
  object-fit: cover;
  overflow: hidden;
}
.about-image:hover {
}


@media screen and (max-width: 768px) {
  .about {
    padding: 15px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
    text-align: left;
  }

  .about-image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
