<section id="home">
  <div class="caption">
    <span>Hello, I'm</span>
    <h1>Hassan Saied</h1>
    <span class="text-danger fontcss ">Software Engineer</span>
    <div class="h2">full stack developer </div>

    <div class="social">
      <ul class="d-flex justify-content-center">
        <li class="me-4">
          <a href="https://www.linkedin.com/in/hassan-saied-62b1041aa/" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl bg-icons"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/hassansaiedhassan" target="_blank">
            <i class="fa-brands fa-github fa-2xl bg-icons"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
