#project{
  background-color: #6D2323;

}
.project{
  padding:6rem !important;
}
.line {
  height: 4px;
  width: 80px;
}

.layer {
  background-color: #1abc9c6b;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}

.layer:hover {
  opacity: 1;
}

.color-text {
  color:#E5D0AC;
}

.bg-line {
  background-color: rgb(44, 62, 80);
}

.bg-backgorund {
  background-color: #ffffff;
}

.model {
  z-index: 9999;
}

.bg-opacity-25 {
  --bs-bg-opacity: 0.25;
}

img {
  width: 600px;
  height: 200px !important;
}


.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-width: 800px;
}

.modal-content img {
  max-width: 300px;
  border-radius: 10px;
  margin-right: 20px;
}

.modal-text {
  max-width: 400px;
}
